@media (max-width: 1600px) {
    .section-tertiary {
        .row-primary {
            max-width: 100%;
            .img {
                width: 60%;
            }
        }
    }
}
@media (max-width: 1366px) {
}
// max width 1280px
@media (max-width: 80em) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
}

// max width 1024px
@media (max-width: 64em) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    .header {
        padding: 16px 20px;
        &-mb__centerLogo {
            transition: all 0.2s ease-in-out;
            height: 50px;
        }
        &.sticky {
            padding: 10px 20px;
            .header-mb__centerLogo {
                height: 40px;
            }
        }
    }
    /*------------------------------------------------------------- index*/
    .section-primary,
    .section-secondary,
    .section-tertiary {
        padding-left: 80px;
        padding-right: 80px;

        .title-primary {
            font-size: 40px;
        }
    }
    .section-secondary {
        &__text {
            bottom: 0px;
            right: 20px;
        }
    }
    .section-tertiary {
        &-container .title-primary {
            margin-bottom: 60px;
        }
        .row-primary,
        .row-secondary {
            flex-direction: column;
            gap: 40px;
        }
        .row-primary {
            .img {
                width: 100%;
            }
        }
        .row-secondary {
            margin-top: 80px;
            .text {
                order: 1;
            }
            .img {
                order: 2;
            }
        }
    }
    .row-partner {
        gap: 40px 20px;
    }
}

// max width 768px
@media (max-width: 48em) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/

    .section-primary,
    .section-secondary,
    .section-tertiary {
        padding-left: 40px;
        padding-right: 40px;
    }
}

// max width 640px
@media (max-width: 40em) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    .header {
        padding: 10px 0;
        &.sticky {
            padding: 10px 0;
        }
    }
    .header.sticky .header-mb__centerLogo {
        height: 30px;
    }
    .header-mb {
        &__centerLogo {
            height: 40px;
        }
    }
    /*------------------------------------------------------------- index*/

    .section-primary,
    .section-secondary,
    .section-tertiary {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-secondary__text {
        right: 46px;
        bottom: -18px;
    }
    .section-primary {
        padding-top: 120px;
        padding-bottom: 40px;
        &-container .img-primary {
            padding: 0;
        }
        .title-secondary {
            font-size: 18px;
        }
    }
    .section-secondary {
        padding-top: 80px;
        padding-bottom: 40px;

        .swiper-wrapper {
            padding-bottom: 20px;
        }
    }
    .section-tertiary {
        padding-top: 80px;
        padding-bottom: 40px;
        &-container .title-primary {
            margin-bottom: 40px;
        }
        .row-secondary {
            margin-top: 40px;
        }
        .text {
            font-size: 18px;
        }
    }
    .section-primary .title-primary,
    .section-secondary .title-primary,
    .section-tertiary .title-primary {
        font-size: 26px;
    }
    .list-disc {
        font-size: 18px;
    }
    .row-partner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
@media (max-width: 20em) {
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
